version: '3.8'

services:
    web:
        build: .
        command: gunicorn bitrix_project.wsgi:application --bind 0.0.0.0:8000
        volumes:
            - static_files:/usr/app/staticfiles
        env_file: 
            - .env.web
        expose:
            - 8000
        depends_on: 
            - db
    db:
        image: postgres:12.4-alpine
        env_file:
            - .env.db
        volumes:
            - postgres_data:/var/lib/postgresql/data
    nginx:
        build: ./nginx
        ports:
            - 1337:80
        volumes:
            - static_files:/usr/app/staticfiles
        depends_on:
            - web


volumes:
    postgres_data:
    static_files: