
.mainDiv {
    display: flex;
    height: 100%;
    width: 100%;
    /* color: #1F1F1F; */
}

.contentDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FDD835;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}