
.mainDiv {
    display: flex;
    height: 100%;
    width: 100%;
    /* color: #1F1F1F; */
}

.contentDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.toMainMobile {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 8px;
    border-left: 2px solid transparent;
}

.toMainMobile:hover {
    border-left: 2px solid #FDD835;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FDD835;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

@media screen and (max-width: 600px) {
    .contentDiv {
        width: 100%;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}