.btnIcon {
    padding: 5px;
    background-color: #FDD835;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 10px;
    align-self: center;
    color: #1F1F1F;
}

@media screen and (max-width: 600px) {
    .btnIcon {
        font-size: 25px;
        margin-right: 10px;
    }
}