.commentDiv {
    font-weight: 300;
    font-size: 14px;
}

.commentForm {
    margin-bottom: 10px;
    font-size: 12px;
}

.commentInputForm {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

.commentInputForm:active {
    border-bottom: 2px solid #FDD835;
}

.commentInputForm:focus {
    border-bottom: 2px solid #FDD835;
}