.dailyTasksDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.light {
    background-color: transparent;
    color: #1F1F1F;
}

.dark {
    background-color: #1F1F1F;
    color: white;
}

a {
    text-decoration: none;
    outline-style: none;
    /* color: black; */
}

.mainDailyDiv {
    width: 80%
}

.dailyDiv {
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 10px;
}

.dailyDiv.drag {
    position: absolute;
}

.wrapperDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.dailyDiv.completed{
    text-decoration: line-through;
}


.titleDiv {
    font-size: 16px;
    overflow-wrap: break-word;
}

.commentList {
    width: 100%;
    overflow-wrap: anywhere;
    list-style-type: none;
}


.loadingDiv {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.dateForm {
    display: flex;
    width: 75%;
    justify-content: start;
    align-items: center;
    padding: 10px;
}


.dateBtn {
    outline: none;
    border: 2px solid white;
    background-color: slateblue;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.dateBtn:active {
    border: 2px solid black;
}

.usernameDiv {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
}

.mainDailyItemDiv {
    display: flex
}

.dailyItemContentDiv {
    display: flex;
    flex-direction: column;
    width: 60%
}

.timeDiv {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: start;
    padding: 5px;
}

.dailyWrapperDiv {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #6C6C6C;
    margin-bottom: 20px;
}


.timeDiv.only {
    padding: 0;
}

@media screen and (max-width: 600px) {
    .dailyItemContentDiv {
        width: 90%;
    }
    .mobileVersionDiv {
        width: 100%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .timeDiv {
        flex-direction: row;
        width: 50%;
        align-items: center;
    }
    .timeNum {
        margin-left: 10px;
        margin-bottom: 4px;
    }
}