.dailyTasksDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    outline-style: none;
    color: black;
}

a:hover {
    color: slateblue;
}

.mainDailyDiv {
    width: 80%
}

.dailyDiv {
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 10px;
}

.dailyDiv.drag {
    position: absolute;
}

.wrapperDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.taskStateDiv {
    cursor: pointer;
    border-right: 20px solid slateblue;
}
.taskStateDiv.completed {
    border-right: 20px solid lightgreen;
}


.dailyDiv.completed{
    text-decoration: line-through;
}


.titleDiv {
    font-size: 16px;
    overflow-wrap: break-word;
}

.commentList {
    width: 100%;
    overflow-wrap: anywhere;
    list-style-type: none;
}

.commentInput {
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid white;
    font-style:italic;
}


.commentInput:active {
    outline: none;
    border-bottom: 2px solid slateblue;
}

.commentInput:focus {
    outline: none;
    border-bottom: 2px solid slateblue;
}

.moveBtn {
    outline: none;
    border: none;
    border-right: 2px solid slateblue;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 8px;
    font-size: 15px;
}
.moveBtn:active {
    border-right: 2px solid black;
}

.loadingDiv {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.dateForm {
    display: flex;
    width: 75%;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.dateInput {
    outline: none;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid slateblue;
    font-style:italic;
}

.dateBtn {
    outline: none;
    border: 2px solid white;
    background-color: slateblue;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.dateBtn:active {
    border: 2px solid black;
}

.usernameDiv {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #1f1f1f;
}

.mainDailyItemDiv {
    display: flex
}

.dailyItemContentDiv {
    display: flex;
    flex-direction: column;
    width: 80%
}


.dailyWrapperDiv {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #6C6C6C;
    margin-bottom: 20px;
}