.homeIcon {
    cursor: pointer;
}

.homeIcon:hover {
    color: #FDD835;
}

.modeIcon {
    cursor: pointer;
    margin-right: 20px;
}

.HeaderDiv {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
}

.filterUser {
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
}

.filterUser:focus {
    border-bottom: 2px solid #FDD835;
}
.filterUser:hover {
    border-bottom: 2px solid #FDD835;
}
.filterUser:active {
    border-bottom: 2px solid #FDD835;
}

.searchIcon {
    margin-right: 20px;
}