.usersTasksDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.addNewTaskDiv {
    background-color: azure;
    border: 1px solid black;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
}

.tasksDiv {
    font-size: 15px;
    margin: 10px;
    border-bottom: 2px solid slateblue;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    overflow-wrap: anywhere;
    transition: border 0.5s;
}

.tasksDiv:hover {
    border-bottom: 2px solid lightgreen;
}

.tasksDivActive {
    font-size: 15px;
    margin: 10px;
    border-bottom: 2px solid lightgreen;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    overflow-wrap: anywhere;
    transition: border 0.5s;
}

.tasksDivActive:hover {
    border-bottom: 2px solid slateblue;
}

.hideModal {
    display: none;
}

.newTaskForm {
    display: flex;
    flex-direction: column;
    width: 80%
}

.formTag {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    border-left: 2px solid slateblue;
}

.newTaskInput {
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid white;
    font-style:italic;
    resize: none;
    width: 100%
}


.newTaskInput:active {
    outline: none;
    border-bottom: 2px solid slateblue;
}

.newTaskInput:focus {
    outline: none;
    border-bottom: 2px solid slateblue;
}

.addBtn {
    width: 100%;
    background-color: slateblue;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
    outline: none;
    border: 1px solid white;
}

.addBtn:active {
    border: 1px solid black;
}