
.taskTitleDiv  {
    font-size: 18px;
    display: flex;
    width: 80%;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
}

.taskLink {
    outline-style: none;
    width: 100%;
}

.taskLink:hover {
    color: #FDD835 !important;
}

.timeBtn {
    font-size: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}