
.taskTitleDiv  {
    font-size: 18px;
    display: flex;
    width: 80%;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
}

.taskLink {
    outline-style: none;
    width: 80%;
}

.taskLink:hover {
    color: #FDD835 !important;
}

.timeDiv {
    width: 20%;
    margin-left: 20px;
    font-size: 15px;
}