.usernameTitleDiv {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #1f1f1f;
}

.plusIcon {
    color: #1F1F1F;
    background-color: #FDD835;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    align-self: center;
}

.addTaskLabel {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #1F1F1F;
    margin-left: 20px;
}

.addTaskContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}