.headerDiv {
    display: flex;
    padding: 30px 50px 30px 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 25, 112, 0.08);
    justify-content: space-between;
    align-items: center;
}

.dateWeek {
    font-weight: 600;
    font-size: 22px;
}

.dateIcon {
    color: #1F1F1F;
    background-color: #FDD835;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 25px;
}

.dateInput {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 20px;
}

.dateAndLoginContainer {
    display: flex
}

.dateAndLoginContainer.normal {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around
}

.loginIcons {
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 2px;
}

.dateInput::-webkit-datetime-edit { display: none }
.dateInput::-webkit-datetime-edit-fields-wrapper {  display: none }
.dateInput::-webkit-datetime-edit-text { display: none }
.dateInput::-webkit-datetime-edit-month-field {  display: none }
.dateInput::-webkit-datetime-edit-day-field {  display: none }
.dateInput::-webkit-datetime-edit-year-field { display: none }
.dateInput::-webkit-inner-spin-button { display: none; }
.dateInput::-webkit-calendar-picker-indicator {
    cursor: pointer;
    font-size: 16px;
    content: url('https://api.iconify.design/bx:bx-calendar-week.svg');
    padding: 10px;
    vertical-align: -0.125em;
    background: url('https://api.iconify.design/bx:bxs-circle.svg?color=%23FDD835') no-repeat center center / contain;
    outline: none;
    border:none;
}


@media screen and (max-width: 600px) {
    .headerDiv {
        padding: 20px;
        justify-content: space-between;
    }
    .dateWeek {
        font-size: 18px;
    }

}

