.usernameTitleDiv {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.plusIcon {
    color: #1F1F1F;
    background-color: #FDD835;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    align-self: start;
}


.addTaskInput {
    font-size: 12px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    line-height: 25px;
    background-color: transparent;
}

.addTaskInput:active {
    border-bottom: 2px solid #FDD835;
}

.addTaskInput:focus {
    border-bottom: 2px solid #FDD835;
}

.addTaskContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.addTaskInputContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .plusIcon {
        font-size: 20px;
    }
    .addTaskInput {
        line-height: 30px;
    }
}